extends ../layout
block content 
    .container-fluid 
        .row
            .col-8.mx-auto
                h2.text-center List Books
                .row
                    .col-3.d-flex.flex-row.justify-content-center.align-items-center 
                        a(href="/book/create",class="btn btn-primary") Create New Book
                    form(action="/book/search", method="get",class="col-8 mx-auto")
                        .input-group.mb-3 
                            lable(for="title",class='input-group-text') Seach 
                            input(type="search",class="form-control",name='title') 
                table.table
                    thead 
                        tr 
                            th Id 
                            th Title 
                            th Price 
                            th Image
                            th Action 
                    tbody 
                        if books == null
                            tr
                                td(colspan='5') No data
                        else 
                            each item in books 
                                tr 
                                    td=item._id 
                                    td=item.title 
                                    td=item.price 
                                    td 
                                        img(src=`/images/${item.image}`, alt=item.image, width=120,class="img-fluid")
                                    td 
                                        a(href=`/book/update/${item._id}`, class="btn btn-warning me-3") Update 
                                        a(href="javascript:void(0);",class="btn btn-danger") Delete

