extends ../layout
block  content
    .container-fluid 
        .row 
            .col-lg-10.col-md-12.mx-auto
                if(error)
                        .alert.alert-danger.mb-3=error 
                if(message)
                    .alert.alert-success.mb-3=message 
                .row.mb-3
                    a(href="/people/create",class="btn btn-primary col-2") Administrator
                    div(class="col-4 mx-auto")
                        form(action="/people", method="get")
                            .input-group
                                input(type="search",class="form-control",placeholder="Enter Name",name="searchInput") 
                                input(type="submit", value="Search",class="input-group-text btn btn-secondary")
                hr
                h2 Biography Sites for Famous and Inspirational People
                hr
                table.table 
                    thead 
                        tr 
                            th Id 
                            th Fullname 
                            th DOB 
                            th Photo
                            th Reputation 
                            th Actions
                    tbody 
                        if(peoples.length==0)
                            tr 
                                td.text-center(colspan="7") No data
                        else 
                            each item in peoples 
                                tr 
                                    td=item.id 
                                    td=item.fullname 
                                    td=item.dob.getUTCFullYear() 
                                    td 
                                        img(src=`/images/${item.photo}`, alt=item.image,class="img-fluid",width="120")
                                    td=item.reputation  
                                    td.row
                                        a(href=`/people/detail/${item._id}`,class="btn btn-warning col-4") Detail
                hr
                a(href="/people") Refresh 