extends ../layout

block content 
    .container-fluid 
        .row 
            .col-6 
                if (error)
                    p.alert.alert-danger.mb-3=error
                if(message)
                    p.alert.alert-success.mb-3=message
                h1 Welcome admin #{admin.name} 
                table.table 
                    thead 
                        tr 
                            td Id 
                            td User 
                            td Email 
                            td Role 
                            td Action 
                    tbody 
                        if users ==null 
                            tr 
                                td(colspan=5) No Data 
                        else 
                            each item in users 
                                tr 
                                    td=item._id 
                                    td=item.name 
                                    td=item.email 
                                    td=item.role 
                                    td
                                        a(href=`profile/delete/${item._id}`, class="btn btn-danger") Delete  
                hr
                a(href="/logout", class="btn btn-dark") Logout 