@model IEnumerable<Ex1.Models.NewsDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List News</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-6 mx-auto">
                <h3>List News</h3>
                <div class="row my-3">
                    <a asp-action="CreateNews" class="btn btn-primary col-3">Create News</a>
                </div>
                <hr />
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x=>Model.First().NewsId)</th>
                            <th>@Html.DisplayNameFor(x=>Model.First().HeadLine)</th>
                            <th>@Html.DisplayNameFor(x=>Model.First().ContentOfNews)</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Any())
                        {
                            <tr><td colspan="5" class="text-center">No Data</td></tr>
                        }
                        else{

                            @foreach(var news in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(x=>news.NewsId)</td>
                                    <td>@Html.DisplayFor(x=>news.HeadLine)</td>
                                    <td>@Html.DisplayFor(x=>news.ContentOfNews)</td>
                                    <td>
                                       <a asp-action="EditNews" asp-route-id=@news.NewsId class="text-decoration-none">Edit</a>    
                                    </td>
                                    <td>
                                        <a asp-action="DeleteNews" asp-route-id=@news.NewsId class="text-decoration-none text-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
