@model IEnumerable<Day4_Codefirst.Models.Book>;
@{
    ViewBag.Title = "List Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<a asp-action="Create">Create New</a>
<form asp-action="Search">
    <input type="search" name="title"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.Title)</th>
            <th>@Html.DisplayNameFor(m => m.Price)</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var book in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m=>book.Id)</td>
                    <td>@Html.DisplayFor(m=>book.Title)</td>
                    <td>@Html.DisplayFor(m=>book.Price)</td>
                    <td><a asp-action="Edit" asp-route-id=@book.Id>Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id=@book.Id onclick="return confirm('Do you really want to delete this book?');">Delete</a></td>
                </tr>
            }
    </tbody>

</table>